@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
    
}


.pokedex{
  position: relative;
  background-image: url('../img/pokedex.png');
  background-size: cover;
  width: 425px;
  height: 637px;
}

.buscar {
  position: absolute;
  top: 410px;
  left: 30px;
  width: 80%;

  
}

.botones {
  display: flex;
  position: absolute;
  justify-content: center;
  gap: 20px;
  width: 100%;
  top: 500px;
}

.contenedorPokemon {
  position: absolute;
  top: 170px;
  left: 120px;
  
  
  
}

.pokemon{
  width: 150px;
  height: 150px;
}



.numeroNombre {
  position: absolute;
  top: 350px;
  left: 90px;
}