*{
    text-align: center;
}

.tarjetaPersonaje {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
  
 
}


.tarjetaSola {
 width: 15vw;
 border: solid 2px red;

}



.tarjetaSola img {
  width: 15vw;
}


